<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/icon.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon  material-icons mui-pull-left">close</a>
	    <a class="mui-icon material-icons mui-pull-right">more_vert</a>
	</header>
	<div class="mui-content">
		
			<div style="position:relative;height:150px;">
				<div style="width:80px;margin:20px auto;">
					<img class="mui-media-object" src="http://dcloudio.github.io/mui/assets/img/muwu.jpg" style="width:80px;height:80px;border-radius: 50%;;">
					<p style="margin-bottom:0;text-align: center;">winter</p>
					<p style="margin-bottom:0;text-align: center;color:#007AFF">@winter</p>
				</div>
				<div style="position:absolute;top:-10px;right:5px;padding:0 5px;font-size: 15px;border-radius:2px ;background: #DD524D;color:#F7F7F7">管理员</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" style="padding-left:40px;padding-right: 40px;line-height: 30px;">
					<p class="mui-pull-left" style="width:100px;background: #C7C7CC;text-align: center;border-radius:50px ;">
						<i class="mui-icon  material-icons ">account_circle</i>
						关注
					</p>
					<p class="mui-pull-right" style="width:100px;background: #C7C7CC;text-align: center;border-radius:50px ;">
						<i class="mui-icon material-icons">visibility_off</i>
						屏蔽
					</p>
				</li>
				<li class="mui-table-view-cell" style="accelerator: 100%;">
					<div style="width:50%;float: left;" class="line">
						<p>关注者</p>
					</div>
					<div style="display:inline-block;width:50%">正在关注</div>
				</li>
				<li class="mui-table-view-cell">
					<p class="mui-ellipsis" style="text-align: center;">第2位会员／北京／注册于 2013－10-8</p>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top:15px ;">
				<li class="mui-table-view-cell">
					<i class="mui-icon  material-icons ">email</i>
					zwtao90@gmail.com
				</li>
				<li class="mui-table-view-cell">
					<i class="mui-icon  material-icons ">email</i>
					zwtao90@gmail.com
				</li>
				<li class="mui-table-view-cell">
					<i class="mui-icon  material-icons">explore</i>
					zwtao90@gmail.com
				</li>
			</ul>
			
			<ul class="mui-table-view" style="margin-top:15px ;">
				<li class="mui-table-view-cell">
					<i class="mui-icon  material-icons ">speaker_notes</i>
					发布的话题
				</li>
				<li class="mui-table-view-cell">
					<i class="mui-icon  material-icons ">book</i>
					收藏
				</li>
			</ul>
	</div>
	
</body>
</html>